.strikedPrice {
    text-decoration: line-through #be3e3e;
}

.buttonGet {
    border: none;
    padding: 6px 20px;
    border-radius: 8px;
}

.description p {
    margin: 3px;
    margin-left: 15px;
    font-size: 15px;
}

.cards {
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.card-link {
    color: #000 !important;
    font-weight: 600;
    cursor: pointer;
}